[submodule "forge"]
	path = forge
	url = https://github.com/tommygreim/forge.git
	branch = leyline
	ignore = untracked
[submodule "proto/upstream"]
	path = proto/upstream
	url = https://github.com/riQQ/MtgaProto.git
